
<div class="panel panel-primary">
    <div class="panel-heading">
        Fun with validation!
    </div>
    <!--<div class="panel-body">
        <form class="form-horizontal"
              (ngSubmit)="save()"
              [formGroup]="customerForm"
              novalidate>
            <fieldset>
                <div class="form-group" [class.has-error]="!customerForm.get('firstNameControl').valid">
                    <label class="col-md-2 control-label" for="firstNameId">First Name</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="firstNameId"
                               type="text"
                               placeholder="First Name (required)"
                               formControlName="firstNameControl" />
                        <span class="help-block" *ngIf="firstNameControlValidationMessage">
                            {{ firstNameControlValidationMessage }}
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>-->

    <div class="panel-footer">Panel footer</div>
</div>