<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a routerLink="feature1" routerLinkActive="active">Basic-Stuff</a>
            </li>
            <li class="dropdown">
                <a routerLink="signalrfeature" routerLinkActive="active">SignalR</a>
            </li>
            <li class="dropdown">
                <a routerLink="reactiveForms" routerLinkActive="active">Reactive-Forms</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <router-outlet></router-outlet>
    </div>
</div>